body {
    background-color: #f0f2f5;
}

.login-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1000px;
    padding: 0 40px;
    margin: 0 auto;
    min-height: 99vh;
}